* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_container {
    width: 80%;
    margin: 50px auto;
}

#carouselExampleCaptions>div.carousel-inner>div>img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.section_body_2 {
    margin: 50px auto;

}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #080e12;
    color: white;
    height: 150px;
}


.footer_image>img {
    object-fit: contain;
    border-radius: 40px;
    width: 120px;
    height: 80px;
}
