* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_container {
  width: 80%;
  margin: 50px auto;
}

#carouselExampleCaptions > div.carousel-inner > div > img {
  height: 500px;
  object-fit: fill;
  object-position: center;
}

.section_body_2 {
  margin: 50px auto;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #080e12;
  color: white;
  height: 150px;
}
.footer_image > img {
  object-fit: contain;
  border-radius: 40px;
  width: 120px;
  height: 80px;
}

.card {
  width: 100%;
  margin: 20px auto;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card2 {
  width: 90%;
  margin: 20px auto;
}

.card2 > img {
  width: 100%;
  height: 300px;
}

.navbar-brand {
  font-weight: 700;
  background-color: #445743;
  padding: 10px;
  border-radius: 5px;
}
.navbar-brand:hover {
  opacity: 0.8;
}
.navbar {
  background-color: #7fa67c;
}
body > section > div.container > div > div.section_container_image > img {
  height: 300px;
  object-fit: cover;
}

.title {
  margin: 10px;
  padding: 5px;
  background: #445743;
  border-radius: 5px;
  color: antiquewhite;
}

body > section > div.card.text-bg-dark.card2 > img {
  object-fit: cover;
}

@media (max-width: 768px)
  .container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
  body > section > div.card.text-bg-dark.card2 > img{
    height: 150px;
  }

  .footer_container {
    display: flex;
    font-size: small;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #080e12;
    color: white;
    height: 150px;
  }
  .footer_image > img {
    object-fit: contain;
    border-radius: 40px;
    width: 60px;
    height: 40px;
  }
  #carouselExampleCaptions{
    height: 300px;
  }
